<!DOCTYPE html>
<html>
  
  <head>
    <title> PF4FW <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1> PF4FW <%= title %></h1>
    
    <p>外国人材</p>
    <p style="padding-left:2em">
      <a href="/worker/list">外国人材一覧</a> 
    </p>
    
    <p>国マスタ</p>
    <p style="padding-left:2em">
      <a href="/country/list">国一覧</a>
    </p>
    
  </body>
</html>

